<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="shortcut icon" href="../assets/logo.jpg">
    <link href="../css/index.css" rel="stylesheet">
    <script src="../modules/jquery/jquery-1.10.2.min.js"></script>

    <!-- layui -->
    <script src="../modules/layui/layui.js"></script>
    <link rel="stylesheet" href="../modules/layui/css/layui.css" media="all">

    <!-- go-js-->
    <script src="../modules/go-js/go-debug.js"></script>

</head>
<body>
<h1>
    红字为未实现的东西
    蓝字为已实现
</h1>
<div id="myDiagramDiv" style="background: white; width: 100%; height: 90%"></div>

<!-- 蓝鲸布局用到的js -->
<script src="../js/index.js"></script>
<!-- 工具类js -->
<script src="../js/util.js"></script>

<script src="../js/main.js"></script>

</body>
</html>